force-app/main/default/flows/MFA_Activation_User_self_service.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Activate_PermissionSetAssignment_Again</name>
        <label>Activate PermissionSetAssignment Again</label>
        <locationX>577</locationX>
        <locationY>1017</locationY>
        <assignmentItems>
            <assignToReference>Permisson_Set_Assignments.IsActive</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Permission_Set_Assignment_Re_Activate</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>AlreadyActivated</name>
        <label>AlreadyActivated ?</label>
        <locationX>185</locationX>
        <locationY>412</locationY>
        <defaultConnector>
            <targetReference>Step_1_Warning</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Activated</defaultConnectorLabel>
        <rules>
            <name>Yes_Activated</name>
            <conditionLogic>(1 AND 3) OR 2</conditionLogic>
            <conditions>
                <leftValueReference>Permisson_Set_Assignments.AssigneeId</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>$User.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_User_Profile_Data.PermissionsTwoFactorApi</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Permisson_Set_Assignments.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MFA_Activation_you_are_ready</targetReference>
            </connector>
            <label>Yes Activated</label>
        </rules>
    </decisions>
    <decisions>
        <name>Approved</name>
        <label>Approved?</label>
        <locationX>392</locationX>
        <locationY>792</locationY>
        <defaultConnector>
            <targetReference>You_are_not_ready</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Ready</defaultConnectorLabel>
        <rules>
            <name>qApproved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>understood</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>thirdPartyAuthApp</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_or_Create</targetReference>
            </connector>
            <label>Approved</label>
        </rules>
    </decisions>
    <decisions>
        <description>If PErmission set assigned before and Is Active = false. We need to update only, we can not create dublicate report.</description>
        <name>Update_or_Create</name>
        <label>Update or Create</label>
        <locationX>407</locationX>
        <locationY>1018</locationY>
        <defaultConnector>
            <targetReference>Assign_Permisson_Set</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Create</defaultConnectorLabel>
        <rules>
            <name>Update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Permisson_Set_Assignments.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Permisson_Set_Assignments.Assignee.Id</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>$User.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Activate_PermissionSetAssignment_Again</targetReference>
            </connector>
            <label>Update</label>
        </rules>
    </decisions>
    <interviewLabel>MFA Activation User self service {!$Flow.CurrentDateTime}</interviewLabel>
    <label>MFA Activation User self service</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Assign_Permisson_Set</name>
        <label>Assign Permisson Set</label>
        <locationX>538</locationX>
        <locationY>723</locationY>
        <connector>
            <targetReference>MFA_Activation_you_are_ready</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Problem_happened</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AssigneeId</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PermissionSetId</field>
            <value>
                <elementReference>Get_MFA_Permission_Sets.Id</elementReference>
            </value>
        </inputAssignments>
        <object>PermissionSetAssignment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_MFA_Permission_Sets</name>
        <label>Get MFA Permission Sets List</label>
        <locationX>422</locationX>
        <locationY>272</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Permisson_Set_Assignments</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>PermissionsForceTwoFactor</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>LicenseId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_User_Profile_Data.UserLicenseId</elementReference>
            </value>
        </filters>
        <filters>
            <field>LicenseId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PermissionSet</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_User_Profile_Data</name>
        <label>Get User&apos;s Profile Data</label>
        <locationX>423</locationX>
        <locationY>40</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_MFA_Permission_Sets</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.ProfileId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Profile</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>PermissionsTwoFactorApi</queriedFields>
        <queriedFields>UserLicenseId</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>It will be used to check user status</description>
        <name>Permisson_Set_Assignments</name>
        <label>Permisson Set Assignments</label>
        <locationX>225</locationX>
        <locationY>272</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AlreadyActivated</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AssigneeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>PermissionSetId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_MFA_Permission_Sets.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PermissionSetAssignment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>There is permission set assignment but not active. We need to prevent dublicate data error.</description>
        <name>Permission_Set_Assignment_Re_Activate</name>
        <label>Permission Set Assignment Re-Activate</label>
        <locationX>902</locationX>
        <locationY>1009</locationY>
        <connector>
            <targetReference>MFA_Activation_you_are_ready</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Problem_happened</targetReference>
        </faultConnector>
        <inputReference>Get_MFA_Permission_Sets</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>MFA_Activation_you_are_ready</name>
        <label>MFA Activation you are ready</label>
        <locationX>552</locationX>
        <locationY>403</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>SucessMFAActivated</name>
            <fieldText>&lt;p&gt;{!$User.FirstName} {!$User.LastName} your Two factor authentication is active!&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>There is no MFA permission set</description>
        <name>Problem_happened</name>
        <label>Problem Happened</label>
        <locationX>742</locationX>
        <locationY>881</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>InformAdmin</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;Problem Happened &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(237, 100, 9);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Step_1_Warning</name>
        <label>Step 1 - Warning</label>
        <locationX>40</locationX>
        <locationY>595</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Step_2</targetReference>
        </connector>
        <fields>
            <name>warningMessage</name>
            <fieldText>&lt;p&gt;Please check followings;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;ol&gt;&lt;li&gt;Did You install &quot;Google Authenticator&quot; to Your Mobile device or Google Chrome browser.&lt;/li&gt;&lt;li&gt;Did You learn how to use it.&lt;/li&gt;&lt;/ol&gt;&lt;p&gt;Are you ready to&lt;b&gt; activate Multi factor Authentication.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Step_2</name>
        <label>Step 2 -Questionnaire.</label>
        <locationX>400</locationX>
        <locationY>595</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Approved</targetReference>
        </connector>
        <fields>
            <name>checkTheList</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Check and answer following questionnaire.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>thirdPartyAuthApp</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>I installed Google Authenticator to my Mobine or Google Chrome Browser</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>understood</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>I understood, how to login by using MFA and I have documentation</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>approveInfo</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;You will activate MFA when you click &lt;/span&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;APPROVE&lt;/b&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt; button&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>You_are_not_ready</name>
        <label>You are not ready.</label>
        <locationX>45</locationX>
        <locationY>785</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Step_1_Warning</targetReference>
        </connector>
        <fields>
            <name>notReadyYet</name>
            <fieldText>&lt;p&gt;&lt;b&gt;You are not ready yet. &lt;/b&gt;&lt;/p&gt;&lt;p&gt;Please learn how to use MFA and Install google authenticator then use this wizard again.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>47</locationX>
        <locationY>22</locationY>
        <connector>
            <targetReference>Get_User_Profile_Data</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>appName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Google Authenticator</stringValue>
        </value>
    </variables>
</Flow>
